{% extends "users/base.html" %}
<title>
    {% block title %} Edit Warehouse {% endblock title%}
</title>
{% load crispy_forms_tags %} {% block content %}

<div class="row">
    <div class="col-md-10">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Warehouse</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Warehouse</li>
            </ol>
        </nav>

    </div>
</div>
<div class="row mt-3 mb-5">
    <div class="col-md-6 offset-md-2">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="text-center">Edit Warehouse</h2>
                <form method="post">
                    {% csrf_token %} {{form|crispy}}
                    <div class="row mt-6 mb-2">
                        <div class="col-md-12 ml-0">
                            <button type="submit" class="btn btn-sm btn-primary">Edit Warehouse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock content %}