{% extends "users/base.html" %} {% load static %}
<title>{% block title %} Instructions {% endblock title %}</title>{% load crispy_forms_tags %} {% block content %}

<div class="row mb-5">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="text-center">Enter Email For Password Reset Instructions</h5>
                <form action="" method="post">
                    {% csrf_token %} {{form|crispy}}
                    <div class="row mt-6 mb-2">
                        <div class="col-md-12 ml-0">
                            <button type="submit" class="btn btn-sm btn-primary">Request For Reset Instructions</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}