{% extends "users/base.html" %}
<title>{% block title %} Password Reset {% endblock title %}</title> {% load crispy_forms_tags %} {% block content %}
<div class="card mt-2 pt-2 pb-2">

    <div class="container">
        <div class="head">
            <h4>View Instructions</h4>
        </div>
        <form method="post">
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="alert alert-success">
                        An email has been sent to you. Follow instructions to reset your password.

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}