{% extends "users/base.html" %} {% load static %}
<title>{% block title %} Instructions {% endblock title %}</title>{% load crispy_forms_tags %} {% block content %}

<div class="row mb-5">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-2">
            <div class="card-body">
                <h6 class="text-center">Your Password Has Been Reset Successfuly</h6>

                <div class="row mt-6 mb-2">
                    <div class="col-md-12 ml-0">
                        <small><a href="{% url 'login' %}">Login Here</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}