{% extends "users/base.html" %} {% load static %}
<title>{% block title %} Register {% endblock title %}</title>{% load crispy_forms_tags %} {% block content %}

<div class="row mb-5">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-2">
            <div class="card-body">
                <h2 class="text-center">Register Here</h2>
                <form action="" method="post">
                    {% csrf_token %} {{form|crispy}}
                    <div class="row mt-6 mb-2">
                        <div class="col-md-12 ml-0">
                            <button id="register" type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'authentication/js/register.js' %}"></script>
{% endblock content %}