{% extends 'users/base.html' %}

<title>{% block title %}Subscription{% endblock title%}</title>

{% block content %}

<div class="row">
    <div class="col-md-10">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Success</li>
            </ol>
        </nav>

    </div>
</div>

<div class="row mt-3 mr-2">
    <div class="col-12 mr-2">
        <div class="card p-2">
            <h4>Payment made successfuly.</h4>
        </div>
    </div>

</div>





{% endblock content %}