<div class="container">
    <footer class="pt-4 my-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Mkulima Web App
                <small class="d-block mb-3 text-muted"></small>
                </div>
                <div class="col-6 col-md">
                    <h5>Admin</h5>
                    <ul class="List-unstyled text-small">
                        <li><a class="text-muted" href="#">Post Admin</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About Us</h5>
                    <ul class="List-unstyled text-small">
                        <li><a class="text-muted" href="#">Farmers Page</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Products</h5>
                    <ul class="List-unstyled text-small">
                        <li><a class="text-muted" href="#">Sample Products</a></li>
                </div>
            </div>
        </div>
    </footer>
</div>